*   {box-sizing: border-box}

h1  {text-align: center}

p   {clear: right}

#s1, #s2, #s3 {background-color: rgb(220, 180, 180);
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    font-family: Arial}

#h1, #h2, #h3 {
    text-align: center;
    width: 33%;
    position: relative;
    float: right;
    clear: left;
    margin-top: -10px;
    margin-right: -10px;
    border: 1px solid black;
    font-family: Arial}

#h1 {background-color: pink}
#h2 {background-color: crimson;
    color: white}
#h3 {background-color: lemonchiffon}

@media (min-width: 768px) and (max-width: 991px) {
    #s3 {width: 97%}
    #s1, #s2    {width: 46.7%;
                margin-bottom: 3%}
}

@media (max-width: 767px)    {
    #s1, #s2, #s3   {width: 97%;
                    margin-bottom: 3%}
    
}